@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    font-family: 'Raleway', sans-serif;
}

body {
    font-size: 62.5%;
}

:root {
    --blue-clr: #1e90ff;
    --radium-clr: #23976F;
    --dark-gray: #F5F7FB;
    --light-gray: #F3F5FA;
    --black-clr: #2D3639;
    --text-clr: #656973;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background: #23976ec7;
    background-size: 100%, 100%;
    border-radius: 50%;
    /* border: 1px solid var(--radium-clr); */
}

.carousel-indicators {
    background: #23976e71;
    color: var(--radium-clr);
    border-radius: 20px;
    
}

.carousel-item h3 {
    text-align: center;
    font-size: 24px;
    margin: 10px 0;
}

.item-1 {
    /* background: url('./images/bg1.png') !important; */
    /* background-size: contain; */
    /* background-position: cover;
    background-repeat: no-repeat; */
}

.item-2 {
    /* background: url('./images/bg2.png') !important; */
    /* background-position: cover; */
    /* background-size: contain;
    background-repeat: no-repeat; */
}

.item-3 {
    /* background: url('./images/bg3.png') !important; */
}

form {
    /* border: 1px solid red; */
    width: 100% !important;
}

form .n {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form .n input:nth-child(1) {
    margin-right: 10px;
}

.form-group input {
    background: transparent;
    width: 100%;
    height: 36px;
    padding: 12px 0 12px 16px;
    outline: none;
    /* border: none; */
    border-top: none;
    border-right: none;
    border-bottom: 1px solid gray;
    border-left: none;
    /* border-bottom: 1px solid var(--text-clr); */
}

.form-group {
    margin-bottom: 20px;
}

.form-group .address {
    margin-bottom: 20px;
}

::placeholder {
    font-size: 14px;
}

.upload-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}

.upload-group p {
    /* border: 1px solid red; */
    font-size: 14px;
    margin: 0 auto;

}
.upload-group input {
    /* border: 1px solid red; */
    font-size: 14px;

}

form textarea {
    width: 100%;
    border-top: none;
    padding: 12px 0 12px 16px;
    border-right: none;
    border-bottom: 1px solid gray;
    border-left: none;
    outline: none;
}

/* ------------ item-2 ------------------- */

.item-2 form textarea {
    height: 100px;
}

form h5 {
    font-size: 14px;
}


/* ------------ item-3 ------------------- */

.item-3 form textarea {
    height: 100px;
}

/* ------------ item-4 ------------------- */

.item-4 form textarea {
    height: 116px;       
}

/* ------------ item-5 ------------------- */

.item-5 form textarea {
    height: 116px;  
}













/* ------------------ Template Design -------------------- */

.top-details {
    /* border: 1px solid #000; */
}

.top-content {
    /* border: 1px solid #000; */
}

.top-content h1 {
    font-weight: bolder;
    color: var(--black-clr);
    text-transform: uppercase;
}
.top-content h6 {
    font-weight: bolder;
    color: var(--blue-clr);
    display: inline-block;
    text-transform: uppercase;
    margin-right: 86px;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul li {
    width: 500px;
    list-style: none;
}

.top-content a{
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    color: #000;
}

.top-content i {
    margin-right: 6px;
    color: var(--blue-clr);
}

.top-img img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}


.top-img {
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ------------------------------------------------------- */